
<div id="wrapper">
 {{> header}}
	<div id="page-wrapper">
		<div class="graphs">
	     <div class="xs">
  	       <h3 style="text-align: center;">Chi tiết sản phẩm</h3>
         </div>
        </div>
      <!-- /#page-wrapper -->
    </div>
</div> 

