<body id="login">
  <div class="login-logo">
    {{!-- <a href="index.html"><img src="/static-admin/images/logo.png" alt=""/></a> --}}
  </div>
  <h2 class="form-heading">Đăng ký</h2>
  <form class="form-signin app-cam" method="POST" action="/handle-register">
      <p>Điền thông tin cá nhân của bạn vào ô dưới đây</p>
      <input type="text" class="form-control1" placeholder="Họ và tên" autofocus="" name="fullname">
      <input type="text" class="form-control1" placeholder="Địa chỉ" autofocus="" name="address">
      <input type="text" class="form-control1" placeholder="Email" autofocus="" name="email">
      <input type="text" class="form-control1" placeholder="Quê quán" autofocus="" name="city">
      <input type="text" class="form-control1" placeholder="Quyền" autofocus="" name="office">
	    <p> Nhập thông tin chi tiết tài khoản của bạn vào ô dưới đây</p>
      <input type="text" class="form-control1" placeholder="Tên đăng nhập" autofocus="" name="username">
      <input type="password" class="form-control1" placeholder="Mật khẩu" name="password">
      <input type="password" class="form-control1" placeholder="Nhập lại mật khẩu" name="repass">
      <button class="btn btn-lg btn-success1 btn-block" type="submit">Submit</button>
      <div class="registration">
          Đã đăng ký
          <a class="" href="login">
              Đăng nhập
          </a>
      </div>
  </form>
</body>

