<!-- Footer section -->
	<section class="footer-section">
		<div class="container">
			<div class="footer-logo text-center">
				<a href="index.html"><img src="./img/logo-2.png" alt=""></a>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6 offset-lg-3">
					<div class="footer-widget about-widget">
						<h2 class="mb-3">ABOUT</h2>
						<p>The Shirt Shack sẽ mang lại cho khách hàng những trải nghiệm mua sắm thời trang với những mẫu thời trang mới lạ cùng xu hướng hiện đại từ các thương hiệu thời trang quốc tế, cam kết chất lượng phục vụ hàng đầu. Những trải nghiệm mới chỉ có ở trang mua sắm trực tuyến The Shirt Shack</p>
						<img src="img/cards.png" alt="">
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2 class="mb-3">QUESTIONS</h2>
						<ul>
							<li><a href="">Về chúng tôi</a></li>
							<li><a href="">Theo dõi đơn hàng</a></li>
							<li><a href="">Trở về</a></li>
						</ul>
						<ul>
							<li><a href="">Cộng sự</a></li>
							<li><a href="">Ủng hộ</a></li>
							<li><a href="">Điều khoản sử dụng</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="social-links-warp">
			<div class="container text-center">
				<div class="social-links">
					<a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
					<a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
					<a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
					<a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
				</div>

<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> 
<p class="text-white text-center mt-5">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

			</div>
		</div>
	</section>
	<!-- Footer section end -->