<!-- Header section -->
	<header class="header-section">
		<nav class="main-navbar">
			<div class="container d-flex">
				<div style="flex: 1" class="pt-2 nav-logo-container">
					<a href="index.html"><img src="/img/logo-2.png" alt=""></a>
				</div>

				<div class="mobile-nav-padding"></div>

				<ul class="main-menu">
					<li><a href="/">Trang chủ</a></li>
					<li><a href="contact">Liên hệ</a></li>
					<li><a href="#">Đăng nhập</a></li>
					<li><a href="">
						<i class="bi bi-cart"></i>Giỏ hàng ({{#if cart_cnt}}{{cart_cnt}}{{else}}0{{/if}})</a></li>
					<li><a href="#">Đăng ký</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- Header section end -->